{% extends "base.html" %}
{% load static %}

{% block style %}

    <!-- <link rel="stylesheet" href="{% static 'bundle.css' %}"> -->
{% endblock %}

{% block content %} 
    <noscript>
        <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>

    <!-- Navigation section  -->

    <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">

            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                </button>
                <a href="/" title="Sailing - Water Sports HTML Template"><img src="{% static 'images/logo_icon.svg' %}" alt=""></a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% if request.user.is_authenticated %}
                    
                    <li class="active"><a href="{% url 'my_portfolio' %}">MyPortfolios</a></li>
                    <li class="active"><a href="{% url 'add_portfolio' %}">AddPortfolio</a></li>
                    <li class="active"><a href="{% url 'portfolio_search' %}">SearchPortfolio</a></li>
                    <li><a href="{% url 'logout' %}"><span class="icon flaticon-password"></span> Logout</a></li>
                    {% else %}
                    <li class="active"><a href="{% url 'portfolio_search' %}">SearchPortfolio</a></li>
                    <li><a href="{% url 'login' %}"><span class="icon flaticon-password"></span> Login</a></li>
                    {% endif %}
                </ul>
            </div>
    </div>
    </div>
 <div class="container">
    {% if query %}
        <h2>Portfolio containing "{{ query }}"</h2>
        <h3>
            {% with results.count as total_results %}
            Found {{ total_results }} result {{ total_results|pluralize }}
            {% endwith %}
        </h3>
    {% for portfolio in results %}
        <h3><a href="{% url 'portfolio_detail' portfolio.get_pk %}">{{ portfolio.title }}</a></h3>
        {{ portfolio.description|truncatewords:5 }}
        {% empty %}
        <p>There are no results for your query.</p>
    {% endfor %}
        <p><a href="{% url 'portfolio_search' %}">Search again</a></p>
    {% else %}
        <h2>Search for portfolio</h2>
        <form action="." method="get">
    {{ form.as_p }}
        <input type="submit" class="btn btn-default" value="Search">
        </form>
    {% endif %}
</div>
<br>
<!-- Footer Section -->
<footer>
    <div class="container">
         <div class="row">

               <div class="clearfix col-md-12 col-sm-12">
                   <hr>
              </div>

              <div class="col-md-6 col-sm-6">
                   <div class="footer-copyright">
                        <p>© 2021 Project for Lanars | All Rights Reserved</p>
                   </div>
              </div>

              <div class="col-md-6 col-sm-6">
                   <ul class="social-icon">
                        <li><a href="/" class="fa fa-facebook"></a></li>
                        <li><a href="/" class="fa fa-twitter"></a></li>
                        <li><a href="/" class="fa fa-linkedin"></a></li>
                   </ul>
              </div>
              
         </div>
    </div>
</footer>

    <div id="app"></div>

{% endblock %}

{% block js %}
    <!-- <script src="{% static 'bundle.js' %}"></script> -->
{% endblock %}